{% extends 'uweflixapp/main.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            {% csrf_token %}
            <p>Ar you sure you want to deny "{{customer}}"?</p>
            <form action="{% url 'deny_user' customer.id %}" method="POST">

                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>

                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>

        </div>
    </div>
</div>


{% endblock %}