{% extends 'uweflixapp/main.html' %}


{% block content %}

        <br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Showings</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Film</th>
							<th>Date</th>
							<th>Time</th>
							<th>Screen</th>

						</tr>

                        {% for i in showings %}
							<tr>
								<td>{{i.film}}</td>
								<td>{{i.date}}</td>
								<td>{{i.time}}</td>
								<td>{{i.screen}}</td>
								<td><a class="btn btn-sm btn-info" href="{% url 'modify_showing' i.id %}">Update</a></td>
								<td><a class="btn btn-sm btn-danger" href="{% url 'delete_showing' i.id %}">Delete</a></td>

							</tr>	
						{% endfor %}

						
					</table>
				</div>
			</div>
			
		</div>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'add_showing' %}">Add Showing</a>
        
                </div>
            </div>

{%  endblock %}