{% extends 'uweflixapp/main_user.html' %}

{% block content %}

        <br>

		<div class="container my-3">

			</div>
			<div class="row">
				<div class="col-md">
					<div class="card card-body">
						<h5>{{ film }}</h5>
					</div>
					<div class="card card-body">
						{{ film }}
						<hr>
						{{ duration }}
						{{ age_rating }}
						{{ description }}
						<hr>
						{{ date }}
						{{ time }}
						{{ screen }}
						{{ available_seats }}
					</div>
				</div>
				
			</div>

			<hr>


			<form action="{% url 'place_order' showing.id %}" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-7">
						<div class="card shadow ">
							<div class="card-body" >
								<h6>Tickets</h6>
								<hr>

								<div class="row bookingForm">

									<div class="col-md-6">
										<label>Adult Quantity</label>
										<input type="number" class="form-control" name="adult_ticket" placeholder="Adult Quantity">
									</div>

									<div class="col-md-6">
										<label>Child Quantity</label>
										<input type="number" class="form-control" name="child_ticket" placeholder="Child Quantity">
									</div>

									<div class="col-md-6">
										<label>Student Quantity</label>
										<input type="number" class="form-control" name="student_ticket" placeholder="Student Quantity">
										<p></p>
									</div>

									<button type="submit" class="btn btn-success w-100">Place Order</button> 

									</div>
								</div>
							</div>
	
						</div>
					
				</div>
	
			</form>

		</div>


			

{%  endblock %}