{% extends 'uweflixapp/main.html' %}


{% block content %}

        <br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Users Transactions</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Username</th>
                            <th>Email</th>
						</tr>

                        {% for i in customer %}
							<tr>
								<td>{{i.username}}</td>
                                <td>{{i.email}}</td>
								<td><a class="btn btn-sm btn-info" href="{% url 'view_account' i.id %}">View Account</a></td>
							</tr>	
						{% endfor %}

						
					</table>
				</div>
			</div>
			
		</div>

{%  endblock %}